<body style="background-image: url(assets/img/login-fondo.jpg);">
    <form class="form-signin rounded-lg" id="form_wrapper">
        <div class="text-center mb-4">
            <h1 class="h3 mb-3 font-weight-normal text-white">Inicio de sesión</h1>
        </div>
        <div class="form-label-group">
            <input placeholder="Correo electrónico" type="email" name="Email" id="field_email" class="form-control" required="" autofocus="">
        </div>

        <div class="form-label-group">
            <input name="Password" id="field_password" type="password" class="form-control" placeholder="Contraseña" required="">
        </div>

        <button class="mt-5 mb-3 btn btn-lg btn-block boton-naranja-full rounded-pill" type="submit" value="Login" id='input_submit'>
            Iniciar sesión
        </button>
        <p class="mt-2 mb-3 text-muted text-center">
            <a class="texto-link-naranja" href="#">
                ¿Olvidó su contraseña?
            </a>
        </p>
    </form>
</body>