<body style="background-image: url(assets/img/login-fondo.jpg);">
    <form class="form-signin rounded-lg" id="form_wrapper">
        <div class="text-center mb-4">
            <h1 class="h3 mb-3 font-weight-normal text-white">¿Tienes problemas para iniciar sesion?</h1>
        </div>
        <div class="form-label-group">
            <p class="text-center text-white">Ingresa tu numero de identificación o correo electronico y te enviaremos un enlace para recuperar el acceso a tu cuenta</p>
        </div>

        <div class="form-label-group">
            <input placeholder="No. de identificación o dirección de correo" id="email" type="email" class="form-control" required="">
            <small id="emailHelp" class="form-text text-white">documento de identidad o correo electrónico para verificar credenciales</small>
        </div>

        <button class="mt-5 mb-3 btn btn-lg btn-block boton-naranja-full rounded-pill" type="submit" value="Login" id='input_submit'>
            Iniciar sesión
        </button>
        <p class="mt-2 mb-3 text-center">
            <a class="texto-link-naranja">
                ¿Olvidó su contraseña?
            </a>
        </p>
    </form>
</body>