.scroll-container,
.scroll-area {
    max-width: 100%;
    height: 600px;
}

.scroll-container {
    overflow: auto;
}

.scroll-area {
    scroll-snap-align: start;
}

.scroll-area {
    display: flex;
    justify-content: center;
    color: white;
}