<div class="container-fluid">
    <div class="row">
        <div class="col-1">
            <button class="rounded-pill btn boton-naranja-full">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-arrow-left">
                    <line x1="19" y1="12" x2="5" y2="12" />
                    <polyline points="12 19 5 12 12 5" /></svg>
            </button>
        </div>
        <div class="col-11 text-center">
            <h1>Mesa</h1>
        </div>
    </div>
    <div class="row" style="height: max-content;">
        <div class="col-6 ">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Buscar">
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">
                        <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none"
                            stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
                            <circle cx="11" cy="11" r="8"></circle>
                            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                        </svg>
                    </span>
                </div>
            </div>
            <div class="scroll-container">
                <div class="scroll-area album container">
                    <div class="row ">
                        <div class="col-6">
                            <div class="card mb-4 shadow-sm">
                                <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="https://media-cdn.tripadvisor.com/media/photo-s/10/6e/7b/c2/photo0jpg.jpg" focusable="false" role="img">
                                <div class="card-body">
                                    <p class="card-text text-dark">atribute variation</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="">
                                            <button type="button" class="btn btn-sm boton-naranja-inline rounded-pill">Nota</button>
                                            <button type="button" class="btn btn-sm btn-outline-secondary rounded-pill">Agregar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card mb-4 shadow-sm">
                                <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="https://media-cdn.tripadvisor.com/media/photo-s/10/6e/7b/c2/photo0jpg.jpg" focusable="false" role="img">
                                <div class="card-body">
                                    <p class="card-text text-dark">atribute variation</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="">
                                            <button type="button" class="btn boton-naranja-inline rounded-pill">Nota</button>
                                            <button type="button" class="btn btn-outline-secondary rounded-pill">Agregar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card mb-4 shadow-sm">
                                <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="https://media-cdn.tripadvisor.com/media/photo-s/10/6e/7b/c2/photo0jpg.jpg" focusable="false" role="img">
                                <div class="card-body">
                                    <p class="card-text text-dark">atribute variation</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="">
                                            <button type="button" class="btn btn-sm boton-naranja-inline rounded-pill">Nota</button>
                                            <button type="button" class="btn btn-sm btn-outline-secondary rounded-pill">Agregar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 scroll-container">
            <div class="lista " id="divTablaMiembros">
                <div class="">
                    <div class="table-responsive">
                        <table class="table table-borderless table-hover table-sm hover" id="tablaMiembros">
                            <thead class="text-center fondo">
                                <tr class="">
                                    <th>Plato</th>
                                    <th>Cantidad(Pl)</th>
                                    <th>Valor(COP)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- 
                                <tr *ngFor="let pedido of pedidos | filter: buscarPedidoFiltro" class="text-center">
                                    <td class="text-center">{{pedido.nombre}}</td>
                                    <td class="text-center">{{pedido.cantidad}}</td>
                                    <td class="text-center">{{pedido.valor}}</td>
                                </tr>
                                 -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div>
                <div class="dropdown-divider linea"></div>
                <div class="text-center">
                    <h2>Total:</h2>
                </div>
            </div>
        </div>
    </div>
</div>